<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body ng-app="login-register">

<div class="container" ui-view>


</div>

<script src="//cdn.bootcss.com/angular.js/1.4.4/angular.min.js"></script>
<script src="//cdn.bootcss.com/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

<script type="text/javascript">

    var app = angular.module('login-register', ['ui.router']).controller('login', function($scope, $http) {
        $scope.user = {{user|json|safe}};
        $scope.register = {{user|json|safe}};

    console.log('scope user: ', $scope.user);
    console.log('scope register: ', $scope.register);

    $scope.hasError = true;
    $scope.error = '';

    $scope.verify_sms = function() {
      $http.post('/sms/code', {
        name: $scope.register.name,
        email: $scope.register.email,
        password: $scope.register.password,
        confirm: $scope.register.confirm_password
      }).then(function(resp) {
        console.log('resp: ', resp);
      })
    };


    $scope.doRegister = function() {

        $http.post('/register', {
            name: $scope.register.name,
            email: $scope.register.email,
            password: $scope.register.password,
            confirm: $scope.register.confirm_password
        }).then(function(resp) {
            location.href = '/';
        })


    };

    }).config(function($stateProvider, $urlRouterProvider) {
        $urlRouterProvider.otherwise('/login');

        $stateProvider.state('login', {
            url: '/login',
            templateUrl: '/views/login/login.html',
            controller: 'login'
        });

        $stateProvider.state('register', {
            url: '/register',
            templateUrl: '/views/login/register.html',
            controller: 'login'
        })
    });

</script>
</body>
</html>
